body{
  background-color: rgb(113, 178, 235);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

h1{
  background-color: rgb(24, 20, 44);
  text-align: center;
  color: aliceblue;
}

.center {
  width: 100%;
  text-align: center;
  
}

.huruf{
  padding: 10px;
  display: flex; /* Menggunakan Flexbox */
  justify-content: center; /* Memusatkan kartu di horizontal */
  flex-wrap: wrap; /* Memungkinkan kartu untuk berpindah ke baris berikutnya */
  gap: 10px; /* Spasi antar kartu */
}

.card{
    display: inline-block;
    width: 200px;
    height: 450px;
    background-color: #f3f3f3;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover{
  /* background-color: black; */
  scale: 1.2;
  transition: 0.3s;
}


.kanji{
  color:rgb(12, 48, 48);
  font-size:60px;
}

.pagination{
  display: flex; /* Menggunakan Flexbox */
  justify-content: center; /* Memusatkan kartu di horizontal */
}