.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a,
.pagination li span {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #021931;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgb(2, 137, 210);
  font-size: 25px;
}

.pagination li a:hover {
  background-color: #551d8d;
  color: #fff;
}

.pagination li.active span {
  background-color: #2f2561;
  color: #fff;
  border: 1px solid #2c343c;
}

.pagination li.disabled span {
  color: #130a04;
  cursor: not-allowed;
}